{% extends "base.html" %}
{% load custom_filters %}
{% load static %}

{% block title %}Tančíme{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/event_card.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block content %}
<div class="header-image-container">
    <picture>
        <source media="(min-width: 1920px)" srcset="static/images/kruh2880.jpg">
        <img class="header-image" src="static/images/kruh1480.jpg" />
    </picture>
    <div class="header-text">
        <span class="first-line">„Umíš-li mluvit, umíš zpívat,</span> <br>
        <span class="second-line">umíš-li chodit, umíš tančit...“</span>
    </div>
</div>
<div class="block1">
    <div class="block1-image-container section-container">
        <img class="image1" src="static/images/zubin.jpg" alt="zubin" width="300px" />
        <div class="title1">POJĎTE TANČIT ....</div>
        <div class="text1">na vícedenní taneční semináře nebo kratší, které si zaslouží Vaši pozornost (například návštěvy zahraničních lektorů)</div>
    </div>
</div>
<div class="hands-image-container">
    <div class="hands-image-mask"></div>
    <picture>
        <source media="(min-width: 1480px)" srcset="static/images/ruce2880.jpg">
        <img class="hands-image" src="static/images/ruce1480.jpg" />
    </picture>
</div>
<div id="sections" class="section-container">
    <div id="workshops" class="section">
        {% if workshops|filter_past_events %}
        <div class="workshop-cards">
            {% for workshop in workshops|filter_past_events|slice:":4" %}
            {% include "workshop_card.html" with event=workshop index=forloop.counter %}
            {% endfor %}
        </div>
        {% else %}
        <div class="no-workshops">
            Momentálně nejsou naplánované žádné workshopy.
        </div>
        {% endif %}
        <div class="workshop-more">
            <a href="{% url 'events' %}?filter=WORKSHOP">
                <div class="workshop-arrow-text">Všechny větší události</div>
            </a>
            <svg class="line-with-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 15" preserveAspectRatio="none">
                <line x1="0" y1="5" x2="1180" y2="5" stroke="#000006" stroke-width="1" />
                <line x1="1180" y1="5" x2="1172" y2="0" stroke="#000006" stroke-width="1" />
                <line x1="1180" y1="5" x2="1172" y2="10" stroke="#000006" stroke-width="1" />
            </svg>
        </div>
    </div>
    <div class="block2">
        <div class="title2">.... A SETKÁVAT SE</div>
        <div class="text2">spolu na pravidelných tanečních večerech</div>
    </div>
    <div id="evenings" class="section">
        <div class="event-more">
            <svg class="line-with-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 15" preserveAspectRatio="none">
                <line x1="0" y1="5" x2="1180" y2="5" stroke="#000006" stroke-width="1" />
                <line x1="0" y1="5" x2="8" y2="0" stroke="#000006" stroke-width="1" />
                <line x1="0" y1="5" x2="8" y2="10" stroke="#000006" stroke-width="1" />
            </svg>
            <a href="{% url 'events' %}?filter=EVENT">
                <div class="event-arrow-text">Všechny taneční večery</div>
            </a>
        </div>
        {% if events|filter_past_events %}
        <div class="evening-cards">
            {% for event in events|filter_past_events|slice:":10" %}
            {% include "evening_card.html" with event=event %}
            {% endfor %}
        </div>
        {% else %}
        <div class="no-events">
            Momentálně nejsou naplánované žádné taneční večery.
        </div>
        {% endif %}
    </div>
    <div id="aboutDances" class="section">
        <div class="section-title">O tancích</div>
        <div class="about-content">
            <img class="about-dances-image" src="static/images/ludmila.jpeg" alt="" width="350px" height="290px">
            <div class="about-text">
                <p>Tance univerzálního míru vycházejí z různých spirituálních a kulturních tradic. Jedná se o kombinaci jednoduchých pohybů lidových tanců se zpěvem posvátných slov ze světových náboženství i tradic původních národů. Tančíme a Zpíváme je pro radost, pro některé z nás jsou duchovní cestou.</p>
                <p>Nálada těchto Tanců je nekonečně různorodá, můžeme oslavovat hravou energii Krišny, prožívat soucítění buddhistické Qwan Yin, milost panny Marie nebo zakoušet emoce jakéhokoli dalšího duchovního archetypu. Zakoušením těchto mnoha tradic získáváme hlubší porozumění a úctu ke kulturám a dědictví svých předků a pěstujeme ve svých srdcích soucítění a mír.</p>
            </div>
        </div>
    </div>
    <div id="lectors" class="section">
        <div class="section-title">Kdo s vámi tančí</div>
        <div class="lectors">
            {% for lector in lectors %}
            <div class="lector">
                <a href="{% url 'lector_page' slug=lector.slug %}">
                    <img class="lector-image" src="{{ lector.image.url }}" alt="{{ lector.firstName }}" title="{{ lector.firstName }} {{ lector.lastName }}" />
                    <div class="lector-name">{{ lector.firstName }}{% if lector.lastName %} {{ lector.lastName }}{% endif %}</div>
                </a>
            </div>
            {% endfor %}
            {% if not lectors %}
            <p>Není dostupný žádný lektor.</p>
            {% endif %}
        </div>
    </div>
    <div id="aboutUs" class="section">
        <div class="section-title">O nás</div>
        <div class="about-content">
            <img class="about-us-image" src="static/images/kytary.jpg" alt="" width="400px" height="400px">
            <div class="about-text">
                <p>Jsme skupina lidí, které spojuje společný tanec a zpívání v&nbsp;kruhu. Základním zdrojem a inspirací nám jsou Tance univerzálního míru, tance dávných tradic, mantrické tance. Mezinárodně se jim říká Dances of Universal Peace (DUP). Mají své kořeny v&nbsp;duchovních tradicích všech kultur.</p>
                <p>Taneční kruhy DUP jsou po celém světě. Tance v&nbsp;Čechách mají dnes již více než 20-ti letou tradici díky PhDr.&nbsp;Ludmile Chrášťanské, která dala vznik prvním tanečním kruhům, zvala učitele tanců z&nbsp;různých zemí a podpořila další nadšené tanečníky, kteří se rozhodli šířit tyto tance dále.</p>
                <p>V&nbsp;roce 2004 byl z&nbsp;jejího podnětu zorganizován první mezinárodní kemp v&nbsp;Čechách, kam přijeli taneční učitelé a tanečníci z&nbsp;celé Evropy. V&nbsp;roce 2008 bylo založeno o.s. Tančíme.cz pro organizování tanečních kempů, mítinků a tanečních akcí.</p>
            </div>
        </div>
    </div>
    <div id="logos" class="section">
        <div class="section-title">Naši přátelé</div>
        <a href="https://centrum-nesmen.cz/#/home" target="_blank"><img class="logo_image1" src="static/images/loga_organizaci1.png" alt=""></a>
        <a href="https://dharmagaia.cz/" target="_blank"><img class="logo_image2" src="static/images/loga_organizaci2.png" alt=""></a>
    </div>
    <div class="hover-container">
        <div class="hover-item item1">Lucie Svobodová</div>
        <div class="hover-item item2">Anna Křížová</div>
        <div class="hover-item item3">Luboš Kříž</div>
        <div class="hover-item item4">Leontýna Křížová</div>
    </div>
    <img class="lidi" src="/static/images/lidi.png" alt="">
    <div class="footer-text1">Děkujeme všem, kteří se zasloužili o<br>vytvoření těchto webových stránek.</div>
    <div class="logo-kudy-z-nudy">
        <a href="https://www.kudyznudy.cz/" target="_blank">
            <img class="kzn-logo" src="static/images/Kudy-z-nudy.png" alt="Kudy z nudy">
        </a>
    </div>
</div>
{% endblock %}
